<!DOCTYPE html>
<html>
  <head>
    <title>Navigo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway:300,300i,500,500i,700,700i,900|Unica+One', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="menu">
      <h1 class="title">
        <%= link_to 'NavigoRails', root_path %>
      </h1>
      <ul class="hmenu">
        <% if user_signed_in? %>
            <li>
              <%= link_to 'Abonnements', subscriptions_path %>
            </li>
            <% if current_user.admin %>
                <li>
                  <%= link_to 'Admin', rails_admin_path %>
                </li>
            <% end %>
        <% end %>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </ul>
    </div>

    <%= render 'layouts/flash_messages' %>

    <div class="content-container">
      <%= yield %>
    </div>

    <footer>
      <p>©Julien Zamor 2015 pour Sup’Internet</p>
    </footer>
  </body>
</html>
